<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Selection</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='selection.css') }}">
</head>
<body>
  <div class="columns">
    <!-- LEFT COLUMN -->
    <div class="routeList">

      <div class="route">
        <p class="routeName">Route 1</p>
        <div class="routeInfo">
          <p>distance</p>
          <p>ETA</p>
          <p>rating</p>
          <button class="favorite"><img src="{{ url_for('static', filename='FavNoFill.png') }}" alt="favorite"></button>
        </div>
      </div>

      <div class="route">
        <p class="routeName">Route 2</p>
        <div class="routeInfo">
          <p>distance</p>
          <p>ETA</p>
          <p>rating</p>
          <button class="favorite"><img src="{{ url_for('static', filename='FavNoFill.png') }}" alt="favorite"></button>
        </div>
      </div>

      <div class="route">
        <p class="routeName">Route 3</p>
        <div class="routeInfo">
          <p>distance</p>
          <p>ETA</p>
          <p>rating</p>
          <button class="favorite"><img src="{{ url_for('static', filename='FavNoFill.png') }}" alt="favorite"></button>
        </div>
      </div>

      <div class="route">
        <p class="routeName">Route 4</p>
        <div class="routeInfo">
          <p>distance</p>
          <p>ETA</p>
          <p>rating</p>
          <button class="favorite"><img src="{{ url_for('static', filename='FavNoFill.png') }}" alt="favorite"></button>
        </div>
      </div>

      <div class="route">
        <p class="routeName">Route 5</p>
        <div class="routeInfo">
          <p>distance</p>
          <p>ETA</p>
          <p>rating</p>
          <button class="favorite"><img src="{{ url_for('static', filename='FavNoFill.png') }}" alt="favorite"></button>
        </div>
      </div>

    </div>

    <!-- RIGHT COLUMN -->
    <div class="columnTwo">
      <div class="filterBar">
        <select id="tagFilter">
          <option>Filter for tags</option>
        </select>
      </div>

      <div class="mapView">
        <iframe src="{{ url_for('static', filename='UMBC_StreetMap.html') }}"></iframe>
      </div>

      <div class="selectionOptions">
        Additional info about a route currently being previewed,
        such as any reported paths on its route, tags.
            <button id="favoriteRoute">Favorite</button>
            <a href="/route-view"><button id="startRoute">Start Directions</button></a>
      </div>
    </div>
  </div>
</body>
</html>

<!--
    The top 5 routes should be loaded into the left sidebar, with the option to load more
    as well. the map should appear on the right side, and under the map should show more
    details about the route, as well as the option to start using this route.
-->